*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color:lightslategrey;
}

.box{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.text-container{
    margin: 20px;
}

.text-container h2{
    margin-bottom: 10px;
}

img{
    margin: auto;
    margin-bottom: 25px;

}



button{
    max-width: 200px;
    font-size: 2rem;
    cursor: pointer;
    outline: 0;
    border: 3px double yellow;
    margin: 15px;
    padding: 10px;
    box-shadow: 0 10px 10px rgba(247, 240, 15, 0.5);
    transition: box-shadow 0.3s;
}

.turn-off{
    border: 3px double black;
    box-shadow: 0 10px 10px rgba(0, 0, 0, .5);
    transition: box-shadows .3s;
}

.button-container{
    margin: 20px;

}

.theme{
    width: 120px;
    background-color: black;
}
